@import "../../../assets/global.scss";
.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom:  12px;
  margin-right:  12px;
  @include xl {
    margin-bottom:  84px;
    margin-right:  84px;
  }
}
