@import "../../../assets/global.scss";
.header {
  text-align: end;
  color: var(--main-text-color-primary);
}
.container {
  cursor: pointer;
  transition: 200ms;
}
.container:hover {
  transform: scaleX(1.12) translateY(-8px);
  transition: 200ms;
}
