@import "../../assets/global.scss";
.generalContainer {
  overflow: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  overflow-x: scroll; 
}
.generalContainer::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}